<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Hastroke-cy</key>
    <string>H_astroke-cy.glif</string>
    <key>Iotadieresis</key>
    <string>I_otadieresis.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Omegatonos</key>
    <string>O_megatonos.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Rinvertedbreve</key>
    <string>R_invertedbreve.glif</string>
    <key>Upsilondieresis</key>
    <string>U_psilondieresis.glif</string>
    <key>Ustraightstroke</key>
    <string>U_straightstroke.glif</string>
    <key>caroncomb-stack.case</key>
    <string>caroncomb-stack.case.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>diagonalbarO</key>
    <string>diagonalbarO_.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>iotadieresis</key>
    <string>iotadieresis.glif</string>
    <key>kabashkircyr</key>
    <string>kabashkircyr.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb-stack</key>
    <string>tildecomb-stack.glif</string>
    <key>tildecomb-stack.case</key>
    <string>tildecomb-stack.case.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>upsilontonos</key>
    <string>upsilontonos.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>yi-dieresiscomb</key>
    <string>yi-dieresiscomb.glif</string>
  </dict>
</plist>
