<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
