<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>De.bgr</key>
    <string>D_e.bgr.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Hadescender</key>
    <string>H_adescender.glif</string>
    <key>Hastroke-cy</key>
    <string>H_astroke-cy.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Schwacyr</key>
    <string>S_chwacyr.glif</string>
    <key>Shcha</key>
    <string>S_hcha.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Zhe.bgr</key>
    <string>Z_he.bgr.glif</string>
    <key>acutecomb-stack.case</key>
    <string>acutecomb-stack.case.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>brevecomb-stack.case</key>
    <string>brevecomb-stack.case.glif</string>
    <key>breveinvertedcomb-stack.case</key>
    <string>breveinvertedcomb-stack.case.glif</string>
    <key>caroncomb-stack.case</key>
    <string>caroncomb-stack.case.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>circumflexcomb-stack.case</key>
    <string>circumflexcomb-stack.case.glif</string>
    <key>commaaccentturnedcomb</key>
    <string>commaaccentturnedcomb.glif</string>
    <key>dblgravecomb-stack.case</key>
    <string>dblgravecomb-stack.case.glif</string>
    <key>dieresiscomb-stack.case</key>
    <string>dieresiscomb-stack.case.glif</string>
    <key>dieresistonoscomb.case</key>
    <string>dieresistonoscomb.case.glif</string>
    <key>dotaccentcomb-stack.case</key>
    <string>dotaccentcomb-stack.case.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>eight.lc</key>
    <string>eight.lc.glif</string>
    <key>eight.prop</key>
    <string>eight.prop.glif</string>
    <key>eight.tab</key>
    <string>eight.tab.glif</string>
    <key>em</key>
    <string>em.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>f_f_ij</key>
    <string>f_f_ij.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>gravecomb-stack.case</key>
    <string>gravecomb-stack.case.glif</string>
    <key>hookcomb-stack.case</key>
    <string>hookcomb-stack.case.glif</string>
    <key>hungarumlautcomb-stack.case</key>
    <string>hungarumlautcomb-stack.case.glif</string>
    <key>ie</key>
    <string>ie.glif</string>
    <key>iebrevecyr</key>
    <string>iebrevecyr.glif</string>
    <key>io</key>
    <string>io.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kabashkircyr</key>
    <string>kabashkircyr.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>macroncomb-stack.case</key>
    <string>macroncomb-stack.case.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
  </dict>
</plist>
