<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Alphatonos</key>
    <string>A_lphatonos.glif</string>
    <key>Beta</key>
    <string>B_eta.glif</string>
    <key>Cy-descendercomb.case</key>
    <string>C_y-descendercomb.case.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Epsilontonos</key>
    <string>E_psilontonos.glif</string>
    <key>Etatonos</key>
    <string>E_tatonos.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ghestroke</key>
    <string>G_hestroke.glif</string>
    <key>Ha-stroke</key>
    <string>H_a-stroke.glif</string>
    <key>Hastroke-cy</key>
    <string>H_astroke-cy.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>Iotatonos</key>
    <string>I_otatonos.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Obarcyr</key>
    <string>O_barcyr.glif</string>
    <key>Obarcyr-stroke</key>
    <string>O_barcyr-stroke.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Omegatonos</key>
    <string>O_megatonos.glif</string>
    <key>Omicrontonos</key>
    <string>O_microntonos.glif</string>
    <key>Oslash.rvrn</key>
    <string>O_slash.rvrn.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>U-stroke</key>
    <string>U_-stroke.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Upsilontonos</key>
    <string>U_psilontonos.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Ustraightstroke</key>
    <string>U_straightstroke.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>Zhe.bgr</key>
    <string>Z_he.bgr.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>aeacute</key>
    <string>aeacute.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>cy-descendercomb</key>
    <string>cy-descendercomb.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>diagonalbarl</key>
    <string>diagonalbarl.glif</string>
    <key>dieresistonoscomb</key>
    <string>dieresistonoscomb.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>gcaron</key>
    <string>gcaron.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ghestroke</key>
    <string>ghestroke.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>igrave.bgr</key>
    <string>igrave.bgr.glif</string>
    <key>kai-tail</key>
    <string>kai-tail.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>obarcyr-stroke</key>
    <string>obarcyr-stroke.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>oslash.rvrn</key>
    <string>oslash.rvrn.glif</string>
    <key>periodcentered.loclCAT.case</key>
    <string>periodcentered.loclC_A_T_.case.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tonoscomb</key>
    <string>tonoscomb.glif</string>
    <key>tonoscomb.case</key>
    <string>tonoscomb.case.glif</string>
    <key>tshe</key>
    <string>tshe.glif</string>
    <key>yu</key>
    <string>yu.glif</string>
    <key>yu-i</key>
    <string>yu-i.glif</string>
  </dict>
</plist>
