<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Be</key>
    <string>B_e.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>De.bgr</key>
    <string>D_e.bgr.glif</string>
    <key>Dzhe</key>
    <string>D_zhe.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>El</key>
    <string>E_l.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kabashkircyr</key>
    <string>K_abashkircyr.glif</string>
    <key>Kaisymbol</key>
    <string>K_aisymbol.glif</string>
    <key>Kaverticalstrokecyr</key>
    <string>K_averticalstrokecyr.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lje</key>
    <string>L_je.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nje</key>
    <string>N_je.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>Tshe</key>
    <string>T_she.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.case</key>
    <string>breve.cyr.case.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>che</key>
    <string>che.glif</string>
    <key>commaaccent</key>
    <string>commaaccent.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dblgrave</key>
    <string>dblgrave.glif</string>
    <key>dblgrave-stack</key>
    <string>dblgrave-stack.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>dje</key>
    <string>dje.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>el</key>
    <string>el.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>epsilontonos</key>
    <string>epsilontonos.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>ghestroke</key>
    <string>ghestroke.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iotadieresis</key>
    <string>iotadieresis.glif</string>
    <key>iotadieresistonos</key>
    <string>iotadieresistonos.glif</string>
    <key>iotatonos</key>
    <string>iotatonos.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kai-tail</key>
    <string>kai-tail.glif</string>
    <key>kaisymbol</key>
    <string>kaisymbol.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>tonos.case</key>
    <string>tonos.case.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>ustraightstroke</key>
    <string>ustraightstroke.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>ve</key>
    <string>ve.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
