<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>a</key>
		<string>a.glif</string>
		<key>acute</key>
		<string>acute.glif</string>
		<key>acute-stack</key>
		<string>acute-stack.glif</string>
		<key>acutecomb</key>
		<string>acutecomb.glif</string>
		<key>acutecomb-stack</key>
		<string>acutecomb-stack.glif</string>
		<key>breve</key>
		<string>breve.glif</string>
		<key>breve-stack</key>
		<string>breve-stack.glif</string>
		<key>breve.cyr</key>
		<string>breve.cyr.glif</string>
		<key>breve.cyrcomb</key>
		<string>breve.cyrcomb.glif</string>
		<key>brevebelowcomb</key>
		<string>brevebelowcomb.glif</string>
		<key>brevecomb</key>
		<string>brevecomb.glif</string>
		<key>brevecomb-stack</key>
		<string>brevecomb-stack.glif</string>
		<key>breveinverted-stack</key>
		<string>breveinverted-stack.glif</string>
		<key>breveinvertedcomb</key>
		<string>breveinvertedcomb.glif</string>
		<key>breveinvertedcomb-stack</key>
		<string>breveinvertedcomb-stack.glif</string>
		<key>caron</key>
		<string>caron.glif</string>
		<key>caron-stack</key>
		<string>caron-stack.glif</string>
		<key>caroncomb</key>
		<string>caroncomb.glif</string>
		<key>caroncomb-stack</key>
		<string>caroncomb-stack.glif</string>
		<key>caroncomb.alt</key>
		<string>caroncomb.alt.glif</string>
		<key>cedilla</key>
		<string>cedilla.glif</string>
		<key>cedillacomb</key>
		<string>cedillacomb.glif</string>
		<key>circumflex</key>
		<string>circumflex.glif</string>
		<key>circumflex-stack</key>
		<string>circumflex-stack.glif</string>
		<key>circumflexcomb</key>
		<string>circumflexcomb.glif</string>
		<key>circumflexcomb-stack</key>
		<string>circumflexcomb-stack.glif</string>
		<key>commaaccentcomb</key>
		<string>commaaccentcomb.glif</string>
		<key>commaaccentturnedcomb</key>
		<string>commaaccentturnedcomb.glif</string>
		<key>dblgrave-stack</key>
		<string>dblgrave-stack.glif</string>
		<key>dblgravecomb</key>
		<string>dblgravecomb.glif</string>
		<key>dblgravecomb-stack</key>
		<string>dblgravecomb-stack.glif</string>
		<key>dieresisbelowcomb</key>
		<string>dieresisbelowcomb.glif</string>
		<key>dieresiscomb</key>
		<string>dieresiscomb.glif</string>
		<key>dieresiscomb-stack</key>
		<string>dieresiscomb-stack.glif</string>
		<key>dieresistonos</key>
		<string>dieresistonos.glif</string>
		<key>dieresistonoscomb</key>
		<string>dieresistonoscomb.glif</string>
		<key>dotaccentcomb</key>
		<string>dotaccentcomb.glif</string>
		<key>dotaccentcomb-stack</key>
		<string>dotaccentcomb-stack.glif</string>
		<key>dotbelowcomb</key>
		<string>dotbelowcomb.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>grave-stack</key>
		<string>grave-stack.glif</string>
		<key>gravecomb</key>
		<string>gravecomb.glif</string>
		<key>gravecomb-stack</key>
		<string>gravecomb-stack.glif</string>
		<key>hookabove-stack</key>
		<string>hookabove-stack.glif</string>
		<key>hookabovecomb</key>
		<string>hookabovecomb.glif</string>
		<key>hookabovecomb-stack</key>
		<string>hookabovecomb-stack.glif</string>
		<key>horncomb</key>
		<string>horncomb.glif</string>
		<key>hungarumlaut</key>
		<string>hungarumlaut.glif</string>
		<key>hungarumlaut-stack</key>
		<string>hungarumlaut-stack.glif</string>
		<key>hungarumlautcomb</key>
		<string>hungarumlautcomb.glif</string>
		<key>hungarumlautcomb-stack</key>
		<string>hungarumlautcomb-stack.glif</string>
		<key>macron</key>
		<string>macron.glif</string>
		<key>macron-stack</key>
		<string>macron-stack.glif</string>
		<key>macronbelowcomb</key>
		<string>macronbelowcomb.glif</string>
		<key>macroncomb</key>
		<string>macroncomb.glif</string>
		<key>macroncomb-stack</key>
		<string>macroncomb-stack.glif</string>
		<key>ogonek</key>
		<string>ogonek.glif</string>
		<key>ogonekcomb</key>
		<string>ogonekcomb.glif</string>
		<key>onesuperior</key>
		<string>onesuperior.glif</string>
		<key>ring</key>
		<string>ring.glif</string>
		<key>ringcomb</key>
		<string>ringcomb.glif</string>
		<key>ringcomb-stack</key>
		<string>ringcomb-stack.glif</string>
		<key>tilde</key>
		<string>tilde.glif</string>
		<key>tilde-stack</key>
		<string>tilde-stack.glif</string>
		<key>tildecomb</key>
		<string>tildecomb.glif</string>
		<key>tildecomb-stack</key>
		<string>tildecomb-stack.glif</string>
		<key>tonos</key>
		<string>tonos.glif</string>
		<key>tonoscomb</key>
		<string>tonoscomb.glif</string>
		<key>yi-dieresis</key>
		<string>yi-dieresis.glif</string>
		<key>yi-dieresiscomb</key>
		<string>yi-dieresiscomb.glif</string>
	</dict>
</plist>
