<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>a</key>
    <string>a.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute-stack</key>
    <string>acute-stack.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>breve-stack</key>
    <string>breve-stack.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breveinverted-stack</key>
    <string>breveinverted-stack.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caron-stack</key>
    <string>caron-stack.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflex-stack</key>
    <string>circumflex-stack.glif</string>
    <key>dblgrave-stack</key>
    <string>dblgrave-stack.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>grave-stack</key>
    <string>grave-stack.glif</string>
    <key>hookabove-stack</key>
    <string>hookabove-stack.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlaut-stack</key>
    <string>hungarumlaut-stack.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macron-stack</key>
    <string>macron-stack.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tilde-stack</key>
    <string>tilde-stack.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>yi-dieresis</key>
    <string>yi-dieresis.glif</string>
  </dict>
</plist>
