<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Cheverticalstroke-cy</key>
		<string>C_heverticalstroke-cy.glif</string>
		<key>Dzcaron</key>
		<string>D_zcaron.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Soft</key>
		<string>S_oft.glif</string>
		<key>Ucyr</key>
		<string>U_cyr.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>cacute</key>
		<string>cacute.glif</string>
		<key>ccaron</key>
		<string>ccaron.glif</string>
		<key>ccedilla</key>
		<string>ccedilla.glif</string>
		<key>ccircumflex</key>
		<string>ccircumflex.glif</string>
		<key>cdotaccent</key>
		<string>cdotaccent.glif</string>
		<key>chedescender-cy</key>
		<string>chedescender-cy.glif</string>
		<key>cy-descendercomb</key>
		<string>cy-descendercomb.glif</string>
		<key>de</key>
		<string>de.glif</string>
		<key>de.bgr</key>
		<string>de.bgr.glif</string>
		<key>de.locl</key>
		<string>de.locl.glif</string>
		<key>dzcaron</key>
		<string>dzcaron.glif</string>
		<key>dze</key>
		<string>dze.glif</string>
		<key>dzhe</key>
		<string>dzhe.glif</string>
		<key>ebrevecyr</key>
		<string>ebrevecyr.glif</string>
		<key>ecyr</key>
		<string>ecyr.glif</string>
		<key>emacroncyr</key>
		<string>emacroncyr.glif</string>
		<key>endescender</key>
		<string>endescender.glif</string>
		<key>es</key>
		<string>es.glif</string>
		<key>esdescendercyr</key>
		<string>esdescendercyr.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>ghe</key>
		<string>ghe.glif</string>
		<key>ghe.bgr</key>
		<string>ghe.bgr.glif</string>
		<key>ghe.locl</key>
		<string>ghe.locl.glif</string>
		<key>ghestroke</key>
		<string>ghestroke.glif</string>
		<key>gheup</key>
		<string>gheup.glif</string>
		<key>gje</key>
		<string>gje.glif</string>
		<key>hadescender</key>
		<string>hadescender.glif</string>
		<key>hard</key>
		<string>hard.glif</string>
		<key>hard.bgr</key>
		<string>hard.bgr.glif</string>
		<key>ieukran</key>
		<string>ieukran.glif</string>
		<key>kabashkircyr</key>
		<string>kabashkircyr.glif</string>
		<key>kadescender</key>
		<string>kadescender.glif</string>
		<key>manat</key>
		<string>manat.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>racute</key>
		<string>racute.glif</string>
		<key>rcaron</key>
		<string>rcaron.glif</string>
		<key>rcommaaccent</key>
		<string>rcommaaccent.glif</string>
		<key>rdblgrave</key>
		<string>rdblgrave.glif</string>
		<key>rinvertedbreve</key>
		<string>rinvertedbreve.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>sacute</key>
		<string>sacute.glif</string>
		<key>scaron</key>
		<string>scaron.glif</string>
		<key>scedilla</key>
		<string>scedilla.glif</string>
		<key>scircumflex</key>
		<string>scircumflex.glif</string>
		<key>scommaaccent</key>
		<string>scommaaccent.glif</string>
		<key>sha.bgr</key>
		<string>sha.bgr.glif</string>
		<key>shcha</key>
		<string>shcha.glif</string>
		<key>shcha.bgr</key>
		<string>shcha.bgr.glif</string>
		<key>te</key>
		<string>te.glif</string>
		<key>te.locl</key>
		<string>te.locl.glif</string>
		<key>tedescender-cy</key>
		<string>tedescender-cy.glif</string>
		<key>tse</key>
		<string>tse.glif</string>
		<key>tse.bgr</key>
		<string>tse.bgr.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>zacute</key>
		<string>zacute.glif</string>
		<key>zcaron</key>
		<string>zcaron.glif</string>
		<key>zdotaccent</key>
		<string>zdotaccent.glif</string>
		<key>ze</key>
		<string>ze.glif</string>
		<key>ze.bgr</key>
		<string>ze.bgr.glif</string>
		<key>zedescendercyr</key>
		<string>zedescendercyr.glif</string>
		<key>zhedescender</key>
		<string>zhedescender.glif</string>
	</dict>
</plist>
