<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,1,0.25,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShowPoints</key>
			<true/>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.6.2
1756806917.1 B_.glif
1756806917.1 C_.glif
1756806917.1 D_.glif
1756806917.1 E_f.glif
1756806917.1 G_.glif
1756806917.1 I_eukran.glif
1756806917.1 O_.glif
1756806917.1 O_E_.glif
1756806917.1 P_.glif
1756806917.1 P_hi.glif
1756806917.1 Q_.glif
1756806917.1 R_.glif
1756806917.1 S_.glif
1756806917.1 S_chwa.glif
1756806917.1 U_.glif
1756806917.1 hornU_.glif</string>
		</dict>
	</dict>
</plist>
