<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,1,0.25,0.7</string>
		<key>lib</key>
		<dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.6.2
1756806908.5 B_.glif
1756806908.5 D_.glif
1756806908.5 P_.glif
1756806908.5 R_.glif
1756806908.5 S_.glif
1756806908.5 U_.glif</string>
		</dict>
	</dict>
</plist>
