<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.8,0.2,0.7</string>
    <key>lib</key>
    <dict>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.6.2
1756806919.5 C_heverticalstroke-cy.glif
1756806919.5 H_.glif
1756806919.5 S_oft.glif
1756806919.5 U_cyr.glif
1756806919.5 X_.glif
1756806919.5 eightsuperior.glif
1756806919.5 germandbls.glif
1756806919.5 manat.glif
1756806919.5 seven.glif
1756806919.5 seven.lc.glif
1756806919.5 seven.lf.glif
1756806919.5 seven.tab.glif
1756806919.6 sha.bgr.glif</string>
    </dict>
  </dict>
</plist>
