<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>breveacutecomb</key>
    <string>breveacutecomb.glif</string>
    <key>breveacutecomb.case</key>
    <string>breveacutecomb.case.glif</string>
    <key>brevegravecomb</key>
    <string>brevegravecomb.glif</string>
    <key>brevegravecomb.case</key>
    <string>brevegravecomb.case.glif</string>
    <key>brevehookabovecomb</key>
    <string>brevehookabovecomb.glif</string>
    <key>brevehookabovecomb.case</key>
    <string>brevehookabovecomb.case.glif</string>
    <key>brevetildecomb</key>
    <string>brevetildecomb.glif</string>
    <key>brevetildecomb.case</key>
    <string>brevetildecomb.case.glif</string>
    <key>che</key>
    <string>che.glif</string>
    <key>circumflexacutecomb</key>
    <string>circumflexacutecomb.glif</string>
    <key>circumflexacutecomb.case</key>
    <string>circumflexacutecomb.case.glif</string>
    <key>circumflexgravecomb</key>
    <string>circumflexgravecomb.glif</string>
    <key>circumflexgravecomb.case</key>
    <string>circumflexgravecomb.case.glif</string>
    <key>circumflexhookabovecomb</key>
    <string>circumflexhookabovecomb.glif</string>
    <key>circumflexhookabovecomb.case</key>
    <string>circumflexhookabovecomb.case.glif</string>
    <key>circumflextildecomb</key>
    <string>circumflextildecomb.glif</string>
    <key>circumflextildecomb.case</key>
    <string>circumflextildecomb.case.glif</string>
    <key>dieresismacroncomb</key>
    <string>dieresismacroncomb.glif</string>
    <key>dieresismacroncomb.case</key>
    <string>dieresismacroncomb.case.glif</string>
    <key>dieresistonoscomb</key>
    <string>dieresistonoscomb.glif</string>
    <key>dotaccentmacroncomb</key>
    <string>dotaccentmacroncomb.glif</string>
    <key>dotaccentmacroncomb.case</key>
    <string>dotaccentmacroncomb.case.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tildemacroncomb</key>
    <string>tildemacroncomb.glif</string>
    <key>tildemacroncomb.case</key>
    <string>tildemacroncomb.case.glif</string>
  </dict>
</plist>
