<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>acute-stack</key>
    <string>acute-stack.glif</string>
    <key>acutecomb-stack</key>
    <string>acutecomb-stack.glif</string>
    <key>acutecomb-stack.case</key>
    <string>acutecomb-stack.case.glif</string>
    <key>breve-stack</key>
    <string>breve-stack.glif</string>
    <key>brevecomb-stack</key>
    <string>brevecomb-stack.glif</string>
    <key>brevecomb-stack.case</key>
    <string>brevecomb-stack.case.glif</string>
    <key>breveinverted-stack</key>
    <string>breveinverted-stack.glif</string>
    <key>breveinvertedcomb-stack</key>
    <string>breveinvertedcomb-stack.glif</string>
    <key>breveinvertedcomb-stack.case</key>
    <string>breveinvertedcomb-stack.case.glif</string>
    <key>caron-stack</key>
    <string>caron-stack.glif</string>
    <key>caroncomb-stack</key>
    <string>caroncomb-stack.glif</string>
    <key>caroncomb-stack.case</key>
    <string>caroncomb-stack.case.glif</string>
    <key>circumflex-stack</key>
    <string>circumflex-stack.glif</string>
    <key>circumflexcomb-stack</key>
    <string>circumflexcomb-stack.glif</string>
    <key>circumflexcomb-stack.case</key>
    <string>circumflexcomb-stack.case.glif</string>
    <key>commaaccentturnedcomb</key>
    <string>commaaccentturnedcomb.glif</string>
    <key>dblgrave-stack</key>
    <string>dblgrave-stack.glif</string>
    <key>dblgravecomb-stack</key>
    <string>dblgravecomb-stack.glif</string>
    <key>dblgravecomb-stack.case</key>
    <string>dblgravecomb-stack.case.glif</string>
    <key>dieresis-stack</key>
    <string>dieresis-stack.glif</string>
    <key>dieresiscomb-stack</key>
    <string>dieresiscomb-stack.glif</string>
    <key>dieresiscomb-stack.case</key>
    <string>dieresiscomb-stack.case.glif</string>
    <key>dotaccent-stack</key>
    <string>dotaccent-stack.glif</string>
    <key>dotaccentcomb-stack</key>
    <string>dotaccentcomb-stack.glif</string>
    <key>dotaccentcomb-stack.case</key>
    <string>dotaccentcomb-stack.case.glif</string>
    <key>ecyr</key>
    <string>ecyr.glif</string>
    <key>grave-stack</key>
    <string>grave-stack.glif</string>
    <key>gravecomb-stack</key>
    <string>gravecomb-stack.glif</string>
    <key>gravecomb-stack.case</key>
    <string>gravecomb-stack.case.glif</string>
    <key>hookabovecomb-stack.case</key>
    <string>hookabovecomb-stack.case.glif</string>
    <key>hungarumlautcomb-stack.case</key>
    <string>hungarumlautcomb-stack.case.glif</string>
    <key>macron-stack</key>
    <string>macron-stack.glif</string>
    <key>macroncomb-stack</key>
    <string>macroncomb-stack.glif</string>
    <key>macroncomb-stack.case</key>
    <string>macroncomb-stack.case.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>ring-stack</key>
    <string>ring-stack.glif</string>
    <key>ringcomb-stack</key>
    <string>ringcomb-stack.glif</string>
    <key>tilde-stack</key>
    <string>tilde-stack.glif</string>
    <key>tildecomb-stack</key>
    <string>tildecomb-stack.glif</string>
  </dict>
</plist>
