<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Alphatonos</key>
    <string>A_lphatonos.glif</string>
    <key>Cy-descendercomb.case</key>
    <string>C_y-descendercomb.case.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Epsilontonos</key>
    <string>E_psilontonos.glif</string>
    <key>Etatonos</key>
    <string>E_tatonos.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ghestroke</key>
    <string>G_hestroke.glif</string>
    <key>Ha-stroke</key>
    <string>H_a-stroke.glif</string>
    <key>Iotatonos</key>
    <string>I_otatonos.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Obarcyr-stroke</key>
    <string>O_barcyr-stroke.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Omegatonos</key>
    <string>O_megatonos.glif</string>
    <key>Omicrontonos</key>
    <string>O_microntonos.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>U-stroke</key>
    <string>U_-stroke.glif</string>
    <key>Upsilontonos</key>
    <string>U_psilontonos.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Zhe.bgr</key>
    <string>Z_he.bgr.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>che</key>
    <string>che.glif</string>
    <key>che.bgr</key>
    <string>che.bgr.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>cy-descendercomb</key>
    <string>cy-descendercomb.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>diagonalbarl</key>
    <string>diagonalbarl.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>dieresistonoscomb</key>
    <string>dieresistonoscomb.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ghestroke</key>
    <string>ghestroke.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>igrave.bgr</key>
    <string>igrave.bgr.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kai-tail</key>
    <string>kai-tail.glif</string>
    <key>kaisymbol</key>
    <string>kaisymbol.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>obarcyr-stroke</key>
    <string>obarcyr-stroke.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>oslash.rvrn</key>
    <string>oslash.rvrn.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>periodcentered.loclCAT.case</key>
    <string>periodcentered.loclC_A_T_.case.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>soft</key>
    <string>soft.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>te</key>
    <string>te.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>tonos.case</key>
    <string>tonos.case.glif</string>
    <key>tonoscomb</key>
    <string>tonoscomb.glif</string>
    <key>tonoscomb.case</key>
    <string>tonoscomb.case.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yu-i</key>
    <string>yu-i.glif</string>
    <key>yu.bgr</key>
    <string>yu.bgr.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
  </dict>
</plist>
