<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
