<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
