<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
  </dict>
</plist>
