<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>DZcaron</key>
    <string>D_Z_caron.glif</string>
    <key>Shha</key>
    <string>S_hha.glif</string>
    <key>Yu</key>
    <string>Y_u.glif</string>
    <key>acutecombstack</key>
    <string>acutecombstack.glif</string>
    <key>breve.cyr.case</key>
    <string>breve.cyr.case.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>circumflexcombstack</key>
    <string>circumflexcombstack.glif</string>
    <key>circumflexcombstack.case</key>
    <string>circumflexcombstack.case.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>macroncombstack</key>
    <string>macroncombstack.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>tildecombstack</key>
    <string>tildecombstack.glif</string>
  </dict>
</plist>
