<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>diagonalbarl</key>
    <string>diagonalbarl.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>horizontalbar</key>
    <string>horizontalbar.glif</string>
    <key>horizontalbarH</key>
    <string>horizontalbarH_.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
  </dict>
</plist>
