<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Be</key>
    <string>B_e.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>De.bgr</key>
    <string>D_e.bgr.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Dzhe</key>
    <string>D_zhe.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kabashkircyr</key>
    <string>K_abashkircyr.glif</string>
    <key>Kaverticalstrokecyr</key>
    <string>K_averticalstrokecyr.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Lje</key>
    <string>L_je.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nje</key>
    <string>N_je.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Xi</key>
    <string>X_i.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acute-stack.case</key>
    <string>acute-stack.case.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb-stack.case</key>
    <string>acutecomb-stack.case.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>aeacute</key>
    <string>aeacute.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve-stack.case</key>
    <string>breve-stack.case.glif</string>
    <key>brevecomb-stack.case</key>
    <string>brevecomb-stack.case.glif</string>
    <key>breveinverted-stack.case</key>
    <string>breveinverted-stack.case.glif</string>
    <key>breveinvertedcomb-stack</key>
    <string>breveinvertedcomb-stack.glif</string>
    <key>breveinvertedcomb-stack.case</key>
    <string>breveinvertedcomb-stack.case.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caron-stack.case</key>
    <string>caron-stack.case.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb-stack.case</key>
    <string>caroncomb-stack.case.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cedi.rvrn</key>
    <string>cedi.rvrn.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cent.rvrn</key>
    <string>cent.rvrn.glif</string>
    <key>che</key>
    <string>che.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>circumflex-stack.case</key>
    <string>circumflex-stack.case.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb-stack.case</key>
    <string>circumflexcomb-stack.case.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentturnedcomb</key>
    <string>commaaccentturnedcomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dblgrave-stack.case</key>
    <string>dblgrave-stack.case.glif</string>
    <key>dblgravecomb-stack.case</key>
    <string>dblgravecomb-stack.case.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>diagonalbarL</key>
    <string>diagonalbarL_.glif</string>
    <key>diagonalbarO</key>
    <string>diagonalbarO_.glif</string>
    <key>diagonalbarl</key>
    <string>diagonalbarl.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresis-stack.case</key>
    <string>dieresis-stack.case.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb-stack.case</key>
    <string>dieresiscomb-stack.case.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresistonoscomb</key>
    <string>dieresistonoscomb.glif</string>
    <key>dje</key>
    <string>dje.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.rvrn</key>
    <string>dollar.rvrn.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccent-stack.case</key>
    <string>dotaccent-stack.case.glif</string>
    <key>dotaccentcomb-stack.case</key>
    <string>dotaccentcomb-stack.case.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight.lc</key>
    <string>eight.lc.glif</string>
    <key>eight.tab</key>
    <string>eight.tab.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>el</key>
    <string>el.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>engn</key>
    <string>engn.glif</string>
    <key>engtail</key>
    <string>engtail.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>five.lc</key>
    <string>five.lc.glif</string>
    <key>five.tab</key>
    <string>five.tab.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.lc</key>
    <string>four.lc.glif</string>
    <key>four.tab</key>
    <string>four.tab.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>grave-stack.case</key>
    <string>grave-stack.case.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb-stack.case</key>
    <string>gravecomb-stack.case.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hookabovecomb-stack.case</key>
    <string>hookabovecomb-stack.case.glif</string>
    <key>horizontalbar</key>
    <string>horizontalbar.glif</string>
    <key>horizontalbarH</key>
    <string>horizontalbarH_.glif</string>
    <key>horizontalbarlc</key>
    <string>horizontalbarlc.glif</string>
    <key>hornU</key>
    <string>hornU_.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hungarumlaut-stack.case</key>
    <string>hungarumlaut-stack.case.glif</string>
    <key>hungarumlautcomb-stack.case</key>
    <string>hungarumlautcomb-stack.case.glif</string>
    <key>idot</key>
    <string>idot.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ie</key>
    <string>ie.glif</string>
    <key>iebrevecyr</key>
    <string>iebrevecyr.glif</string>
    <key>io</key>
    <string>io.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>leftanglebracket</key>
    <string>leftanglebracket.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron-stack.case</key>
    <string>macron-stack.case.glif</string>
    <key>macroncomb-stack.case</key>
    <string>macroncomb-stack.case.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>naira.rvrn</key>
    <string>naira.rvrn.glif</string>
    <key>nine.lc</key>
    <string>nine.lc.glif</string>
    <key>nine.tab</key>
    <string>nine.tab.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>one.lc</key>
    <string>one.lc.glif</string>
    <key>one.tab</key>
    <string>one.tab.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rightanglebracket</key>
    <string>rightanglebracket.glif</string>
    <key>ring-stack.case</key>
    <string>ring-stack.case.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven.lc</key>
    <string>seven.lc.glif</string>
    <key>seven.tab</key>
    <string>seven.tab.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>six.lc</key>
    <string>six.lc.glif</string>
    <key>six.tab</key>
    <string>six.tab.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three.lc</key>
    <string>three.lc.glif</string>
    <key>three.tab</key>
    <string>three.tab.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde-stack.case</key>
    <string>tilde-stack.case.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.lc</key>
    <string>two.lc.glif</string>
    <key>two.tab</key>
    <string>two.tab.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>ve</key>
    <string>ve.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>won.rvrn</key>
    <string>won.rvrn.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yi-dieresiscomb</key>
    <string>yi-dieresiscomb.glif</string>
    <key>yu-i</key>
    <string>yu-i.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zero.lc</key>
    <string>zero.lc.glif</string>
    <key>zero.tab</key>
    <string>zero.tab.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
  </dict>
</plist>
