<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Cheverticalstroke-cy</key>
		<string>C_heverticalstroke-cy.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Soft</key>
		<string>S_oft.glif</string>
		<key>Ucyr</key>
		<string>U_cyr.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>be.locl</key>
		<string>be.locl.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>che.bgr</key>
		<string>che.bgr.glif</string>
		<key>chedescender-cy</key>
		<string>chedescender-cy.glif</string>
		<key>cheverticalstroke-cy</key>
		<string>cheverticalstroke-cy.glif</string>
		<key>de</key>
		<string>de.glif</string>
		<key>de.bgr</key>
		<string>de.bgr.glif</string>
		<key>el</key>
		<string>el.glif</string>
		<key>el.bgr</key>
		<string>el.bgr.glif</string>
		<key>en.bgr</key>
		<string>en.bgr.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>ghe.bgr</key>
		<string>ghe.bgr.glif</string>
		<key>hadescender</key>
		<string>hadescender.glif</string>
		<key>hard.bgr</key>
		<string>hard.bgr.glif</string>
		<key>hastroke-cy</key>
		<string>hastroke-cy.glif</string>
		<key>idotless</key>
		<string>idotless.glif</string>
		<key>igrave.bgr</key>
		<string>igrave.bgr.glif</string>
		<key>ishort.bgr</key>
		<string>ishort.bgr.glif</string>
		<key>jdotless</key>
		<string>jdotless.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>ka</key>
		<string>ka.glif</string>
		<key>ka.bgr</key>
		<string>ka.bgr.glif</string>
		<key>kabashkircyr</key>
		<string>kabashkircyr.glif</string>
		<key>kaverticalstrokecyr</key>
		<string>kaverticalstrokecyr.glif</string>
		<key>kgreenlandic</key>
		<string>kgreenlandic.glif</string>
		<key>lje</key>
		<string>lje.glif</string>
		<key>manat</key>
		<string>manat.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>obarcyr</key>
		<string>obarcyr.glif</string>
		<key>palochka</key>
		<string>palochka.glif</string>
		<key>pe.bgr</key>
		<string>pe.bgr.glif</string>
		<key>schwacyr</key>
		<string>schwacyr.glif</string>
		<key>sha.bgr</key>
		<string>sha.bgr.glif</string>
		<key>shcha.bgr</key>
		<string>shcha.bgr.glif</string>
		<key>shha</key>
		<string>shha.glif</string>
		<key>soft.bgr</key>
		<string>soft.bgr.glif</string>
		<key>te.bgr</key>
		<string>te.bgr.glif</string>
		<key>tse.bgr</key>
		<string>tse.bgr.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>ustraight</key>
		<string>ustraight.glif</string>
		<key>ustraightstroke</key>
		<string>ustraightstroke.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>ve.bgr</key>
		<string>ve.bgr.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>ya</key>
		<string>ya.glif</string>
		<key>yu.bgr</key>
		<string>yu.bgr.glif</string>
		<key>ze.bgr</key>
		<string>ze.bgr.glif</string>
		<key>zhe</key>
		<string>zhe.glif</string>
		<key>zhe.bgr</key>
		<string>zhe.bgr.glif</string>
	</dict>
</plist>
