<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Alpha</key>
		<string>A_lpha.glif</string>
		<key>Alphatonos</key>
		<string>A_lphatonos.glif</string>
		<key>Beta</key>
		<string>B_eta.glif</string>
		<key>Chi</key>
		<string>C_hi.glif</string>
		<key>Cy-descendercomb.case</key>
		<string>C_y-descendercomb.case.glif</string>
		<key>Delta</key>
		<string>D_elta.glif</string>
		<key>Epsilon</key>
		<string>E_psilon.glif</string>
		<key>Epsilontonos</key>
		<string>E_psilontonos.glif</string>
		<key>Eta</key>
		<string>E_ta.glif</string>
		<key>Etatonos</key>
		<string>E_tatonos.glif</string>
		<key>Gamma</key>
		<string>G_amma.glif</string>
		<key>Ha-stroke</key>
		<string>H_a-stroke.glif</string>
		<key>Iota</key>
		<string>I_ota.glif</string>
		<key>Iotadieresis</key>
		<string>I_otadieresis.glif</string>
		<key>Iotatonos</key>
		<string>I_otatonos.glif</string>
		<key>Kaisymbol</key>
		<string>K_aisymbol.glif</string>
		<key>Kappa</key>
		<string>K_appa.glif</string>
		<key>Lambda</key>
		<string>L_ambda.glif</string>
		<key>Mu</key>
		<string>M_u.glif</string>
		<key>Nu</key>
		<string>N_u.glif</string>
		<key>Obarcyr-stroke</key>
		<string>O_barcyr-stroke.glif</string>
		<key>Omega</key>
		<string>O_mega.glif</string>
		<key>Omegatonos</key>
		<string>O_megatonos.glif</string>
		<key>Omicron</key>
		<string>O_micron.glif</string>
		<key>Omicrontonos</key>
		<string>O_microntonos.glif</string>
		<key>Phi</key>
		<string>P_hi.glif</string>
		<key>Pi</key>
		<string>P_i.glif</string>
		<key>Psi</key>
		<string>P_si.glif</string>
		<key>Rho</key>
		<string>R_ho.glif</string>
		<key>Sigma</key>
		<string>S_igma.glif</string>
		<key>Tau</key>
		<string>T_au.glif</string>
		<key>Theta</key>
		<string>T_heta.glif</string>
		<key>U-stroke</key>
		<string>U_-stroke.glif</string>
		<key>Upsilon</key>
		<string>U_psilon.glif</string>
		<key>Upsilondieresis</key>
		<string>U_psilondieresis.glif</string>
		<key>Upsilontonos</key>
		<string>U_psilontonos.glif</string>
		<key>Xi</key>
		<string>X_i.glif</string>
		<key>Zeta</key>
		<string>Z_eta.glif</string>
		<key>cy-descendercomb</key>
		<string>cy-descendercomb.glif</string>
		<key>dieresistonos</key>
		<string>dieresistonos.glif</string>
		<key>dieresistonoscomb</key>
		<string>dieresistonoscomb.glif</string>
		<key>eng</key>
		<string>eng.glif</string>
		<key>gamma</key>
		<string>gamma.glif</string>
		<key>iotadieresistonos</key>
		<string>iotadieresistonos.glif</string>
		<key>kaisymbol</key>
		<string>kaisymbol.glif</string>
		<key>manat</key>
		<string>manat.glif</string>
		<key>obarcyr-stroke</key>
		<string>obarcyr-stroke.glif</string>
		<key>tonos</key>
		<string>tonos.glif</string>
		<key>tonos.case</key>
		<string>tonos.case.glif</string>
		<key>tonoscomb.case</key>
		<string>tonoscomb.case.glif</string>
		<key>upsilondieresistonos</key>
		<string>upsilondieresistonos.glif</string>
		<key>yu-i</key>
		<string>yu-i.glif</string>
		<key>yumacron</key>
		<string>yumacron.glif</string>
	</dict>
</plist>
