<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Alphatonos</key>
		<string>A_lphatonos.glif</string>
		<key>Cy-descendercomb.case</key>
		<string>C_y-descendercomb.case.glif</string>
		<key>Epsilontonos</key>
		<string>E_psilontonos.glif</string>
		<key>Etatonos</key>
		<string>E_tatonos.glif</string>
		<key>Ha-stroke</key>
		<string>H_a-stroke.glif</string>
		<key>Iotatonos</key>
		<string>I_otatonos.glif</string>
		<key>Obarcyr-stroke</key>
		<string>O_barcyr-stroke.glif</string>
		<key>Omegatonos</key>
		<string>O_megatonos.glif</string>
		<key>Omicrontonos</key>
		<string>O_microntonos.glif</string>
		<key>U-stroke</key>
		<string>U_-stroke.glif</string>
		<key>Upsilontonos</key>
		<string>U_psilontonos.glif</string>
		<key>cy-descendercomb</key>
		<string>cy-descendercomb.glif</string>
		<key>dieresistonos</key>
		<string>dieresistonos.glif</string>
		<key>dieresistonoscomb</key>
		<string>dieresistonoscomb.glif</string>
		<key>eng</key>
		<string>eng.glif</string>
		<key>gamma</key>
		<string>gamma.glif</string>
		<key>kaisymbol</key>
		<string>kaisymbol.glif</string>
		<key>manat</key>
		<string>manat.glif</string>
		<key>obarcyr-stroke</key>
		<string>obarcyr-stroke.glif</string>
		<key>tonos</key>
		<string>tonos.glif</string>
		<key>tonos.case</key>
		<string>tonos.case.glif</string>
		<key>tonoscomb.case</key>
		<string>tonoscomb.case.glif</string>
		<key>yu-i</key>
		<string>yu-i.glif</string>
	</dict>
</plist>
