<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>three</key>
    <string>three.glif</string>
  </dict>
</plist>
