<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>Alphatonos</key>
    <string>A_lphatonos.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Epsilontonos</key>
    <string>E_psilontonos.glif</string>
    <key>Etatonos</key>
    <string>E_tatonos.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iotatonos</key>
    <string>I_otatonos.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Omegatonos</key>
    <string>O_megatonos.glif</string>
    <key>Omicrontonos</key>
    <string>O_microntonos.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Upsilontonos</key>
    <string>U_psilontonos.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Xi</key>
    <string>X_i.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>breve.cyrcomb</key>
    <string>breve.cyrcomb.glif</string>
    <key>breve.cyrcomb.case</key>
    <string>breve.cyrcomb.case.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaaccentturnedcomb</key>
    <string>commaaccentturnedcomb.glif</string>
    <key>dblgravecomb</key>
    <string>dblgravecomb.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresistonoscomb</key>
    <string>dieresistonoscomb.glif</string>
    <key>dieresistonoscomb.case</key>
    <string>dieresistonoscomb.case.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>eight.tab</key>
    <string>eight.tab.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>five.tab</key>
    <string>five.tab.glif</string>
    <key>ghe</key>
    <string>ghe.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>ha-stroke</key>
    <string>ha-stroke.glif</string>
    <key>hastroke-cy</key>
    <string>hastroke-cy.glif</string>
    <key>idot</key>
    <string>idot.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kabashkircyr</key>
    <string>kabashkircyr.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>kai-tail</key>
    <string>kai-tail.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>nine.tab</key>
    <string>nine.tab.glif</string>
    <key>one.tab</key>
    <string>one.tab.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>three.tab</key>
    <string>three.tab.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tonoscomb</key>
    <string>tonoscomb.glif</string>
    <key>tonoscomb.case</key>
    <string>tonoscomb.case.glif</string>
    <key>two.tab</key>
    <string>two.tab.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>ustraight-stroke</key>
    <string>ustraight-stroke.glif</string>
    <key>ustraightstroke</key>
    <string>ustraightstroke.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yu.bgr</key>
    <string>yu.bgr.glif</string>
    <key>yu.bgr-stroke</key>
    <string>yu.bgr-stroke.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>zero.tab</key>
    <string>zero.tab.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
