<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>yumacron</key>
    <string>yumacron.glif</string>
  </dict>
</plist>
