<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.8,0.2,0.7</string>
    <key>lib</key>
    <dict>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.6.2
1756806901.2 cedi.glif
1756806901.2 colonsign.glif
1756806901.2 delta.glif
1756806901.2 dieresistonos.glif
1756806901.3 dollar.glif
1756806901.3 gamma.glif
1756806901.3 guarani.glif
1756806901.3 kip.glif
1756806901.3 manat.glif
1756806901.3 naira.glif
1756806901.3 peso.glif
1756806901.3 tonos.glif
1756806901.3 won.glif
1756806901.3 yumacron.glif</string>
    </dict>
  </dict>
</plist>
