<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Dzcaron</key>
    <string>D_zcaron.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Hastroke-cy</key>
    <string>H_astroke-cy.glif</string>
    <key>Iotadieresis</key>
    <string>I_otadieresis.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Omegatonos</key>
    <string>O_megatonos.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>Rinvertedbreve</key>
    <string>R_invertedbreve.glif</string>
    <key>Upsilondieresis</key>
    <string>U_psilondieresis.glif</string>
    <key>Ustraightstroke</key>
    <string>U_straightstroke.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.case</key>
    <string>breve.cyr.case.glif</string>
    <key>brevebelow</key>
    <string>brevebelow.glif</string>
    <key>breveinverted</key>
    <string>breveinverted.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>commaaccent</key>
    <string>commaaccent.glif</string>
    <key>commaaccentturned</key>
    <string>commaaccentturned.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>dblgrave</key>
    <string>dblgrave.glif</string>
    <key>diagonalbarO</key>
    <string>diagonalbarO_.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresisbelow</key>
    <string>dieresisbelow.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotbelow</key>
    <string>dotbelow.glif</string>
    <key>etatonos</key>
    <string>etatonos.glif</string>
    <key>firsttonechinese</key>
    <string>firsttonechinese.glif</string>
    <key>five.lc</key>
    <string>five.lc.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>hookabove</key>
    <string>hookabove.glif</string>
    <key>horn</key>
    <string>horn.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>iacute_j.loclNLD</key>
    <string>iacute_j.loclN_L_D_.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>iotadieresis</key>
    <string>iotadieresis.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macronbelow</key>
    <string>macronbelow.glif</string>
    <key>nine.lc</key>
    <string>nine.lc.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>omicrontonos</key>
    <string>omicrontonos.glif</string>
    <key>one.lc</key>
    <string>one.lc.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>seven.lc</key>
    <string>seven.lc.glif</string>
    <key>three.lc</key>
    <string>three.lc.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>yamacron</key>
    <string>yamacron.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yi</key>
    <string>yi.glif</string>
    <key>yi-dieresis</key>
    <string>yi-dieresis.glif</string>
    <key>yi-dieresiscomb</key>
    <string>yi-dieresiscomb.glif</string>
  </dict>
</plist>
