<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,1,0.25,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShowPoints</key>
			<true/>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.6.2
1756806917.5 B_.glif
1756806917.5 C_.glif
1756806917.5 D_.glif
1756806917.5 E_f.glif
1756806917.5 G_.glif
1756806917.5 I_eukran.glif
1756806917.5 O_.glif
1756806917.5 O_E_.glif
1756806917.5 P_.glif
1756806917.5 Q_.glif
1756806917.5 R_.glif
1756806917.5 S_.glif
1756806917.5 S_chwa.glif
1756806917.5 U_.glif
1756806917.5 hornU_.glif</string>
		</dict>
	</dict>
</plist>
