<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>foreground</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>XTRA=300</string>
      <string>glyphs.X_T_R_A_=300</string>
    </array>
    <array>
      <string>XTRA=450</string>
      <string>glyphs.X_T_R_A_=450</string>
    </array>
    <array>
      <string>XOPQ=72</string>
      <string>glyphs.X_O_P_Q_=72</string>
    </array>
    <array>
      <string>XOPQ=110</string>
      <string>glyphs.X_O_P_Q_=110</string>
    </array>
    <array>
      <string>YOPQ=50</string>
      <string>glyphs.Y_O_P_Q_=50</string>
    </array>
    <array>
      <string>YOPQ=75</string>
      <string>glyphs.Y_O_P_Q_=75</string>
    </array>
    <array>
      <string>YOPQ=85</string>
      <string>glyphs.Y_O_P_Q_=85</string>
    </array>
    <array>
      <string>XTSP=-60</string>
      <string>glyphs.X_T_S_P_=-60</string>
    </array>
    <array>
      <string>XTSP=50</string>
      <string>glyphs.X_T_S_P_=50</string>
    </array>
    <array>
      <string>XSHL=50</string>
      <string>glyphs.X_S_H_L_=50</string>
    </array>
    <array>
      <string>XSHL=85</string>
      <string>glyphs.X_S_H_L_=85</string>
    </array>
    <array>
      <string>XSHU=65</string>
      <string>glyphs.X_S_H_U_=65</string>
    </array>
    <array>
      <string>XSHU=120</string>
      <string>glyphs.X_S_H_U_=120</string>
    </array>
    <array>
      <string>YSHL=30</string>
      <string>glyphs.Y_S_H_L_=30</string>
    </array>
    <array>
      <string>YSHL=36</string>
      <string>glyphs.Y_S_H_L_=36</string>
    </array>
    <array>
      <string>YSHL=55</string>
      <string>glyphs.Y_S_H_L_=55</string>
    </array>
  </array>
</plist>
