<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Be</key>
    <string>B_e.glif</string>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Dzhe</key>
    <string>D_zhe.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Ecyr</key>
    <string>E_cyr.glif</string>
    <key>Ef</key>
    <string>E_f.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Gheup</key>
    <string>G_heup.glif</string>
    <key>Hadescender</key>
    <string>H_adescender.glif</string>
    <key>Hard</key>
    <string>H_ard.glif</string>
    <key>Hastroke-cy</key>
    <string>H_astroke-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>Ieukran</key>
    <string>I_eukran.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kadescender</key>
    <string>K_adescender.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Lje</key>
    <string>L_je.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>Nje</key>
    <string>N_je.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Schwacyr</key>
    <string>S_chwacyr.glif</string>
    <key>Shcha</key>
    <string>S_hcha.glif</string>
    <key>Shha</key>
    <string>S_hha.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>Tedescender-cy</key>
    <string>T_edescender-cy.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tshe</key>
    <string>T_she.glif</string>
    <key>Uhornacute</key>
    <string>U_hornacute.glif</string>
    <key>Uhorndotbelow</key>
    <string>U_horndotbelow.glif</string>
    <key>Uhorngrave</key>
    <string>U_horngrave.glif</string>
    <key>Uhornhookabove</key>
    <string>U_hornhookabove.glif</string>
    <key>Uhorntilde</key>
    <string>U_horntilde.glif</string>
    <key>Ustraightstroke</key>
    <string>U_straightstroke.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>diagonalbarO</key>
    <string>diagonalbarO_.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>horizontalbar</key>
    <string>horizontalbar.glif</string>
    <key>horizontalbarH</key>
    <string>horizontalbarH_.glif</string>
    <key>hornU</key>
    <string>hornU_.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
  </dict>
</plist>
