<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,0.8,0.2,0.7</string>
		<key>lib</key>
		<dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.6.2
1756806921.1 C_heverticalstroke-cy.glif
1756806921.1 H_.glif
1756806921.1 S_oft.glif
1756806921.1 U_cyr.glif
1756806921.1 X_.glif
1756806921.1 a.glif
1756806921.1 germandbls.glif
1756806921.1 k.glif
1756806921.1 manat.glif
1756806921.1 sha.bgr.glif
1756806921.1 v.glif
1756806921.1 w.glif
1756806921.1 x.glif
1756806921.1 y.glif</string>
		</dict>
	</dict>
</plist>
