<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>Cheverticalstroke-cy</key>
		<string>C_heverticalstroke-cy.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>Ef</key>
		<string>E_f.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>Ieukran</key>
		<string>I_eukran.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Phi</key>
		<string>P_hi.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>Schwa</key>
		<string>S_chwa.glif</string>
		<key>Soft</key>
		<string>S_oft.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>Ucyr</key>
		<string>U_cyr.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>eightsuperior</key>
		<string>eightsuperior.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>hornU</key>
		<string>hornU_.glif</string>
		<key>manat</key>
		<string>manat.glif</string>
		<key>sha.bgr</key>
		<string>sha.bgr.glif</string>
	</dict>
</plist>
