<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>Dzcaron</key>
    <string>D_zcaron.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>cy-descendercomb</key>
    <string>cy-descendercomb.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>de.bgr</key>
    <string>de.bgr.glif</string>
    <key>de.locl</key>
    <string>de.locl.glif</string>
    <key>dzcaron</key>
    <string>dzcaron.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>endescender</key>
    <string>endescender.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ghe</key>
    <string>ghe.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>ghe.locl</key>
    <string>ghe.locl.glif</string>
    <key>ghestroke</key>
    <string>ghestroke.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>gje</key>
    <string>gje.glif</string>
    <key>hadescender</key>
    <string>hadescender.glif</string>
    <key>hard</key>
    <string>hard.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>ieukran</key>
    <string>ieukran.glif</string>
    <key>kabashkircyr</key>
    <string>kabashkircyr.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>rdblgrave</key>
    <string>rdblgrave.glif</string>
    <key>rinvertedbreve</key>
    <string>rinvertedbreve.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>shcha</key>
    <string>shcha.glif</string>
    <key>shcha.bgr</key>
    <string>shcha.bgr.glif</string>
    <key>te</key>
    <string>te.glif</string>
    <key>te.locl</key>
    <string>te.locl.glif</string>
    <key>tedescender-cy</key>
    <string>tedescender-cy.glif</string>
    <key>tse</key>
    <string>tse.glif</string>
    <key>tse.bgr</key>
    <string>tse.bgr.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
