<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>Gheup</key>
    <string>G_heup.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kabashkircyr</key>
    <string>K_abashkircyr.glif</string>
    <key>Kaisymbol</key>
    <string>K_aisymbol.glif</string>
    <key>Kaverticalstrokecyr</key>
    <string>K_averticalstrokecyr.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Lje</key>
    <string>L_je.glif</string>
    <key>Nje</key>
    <string>N_je.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tse</key>
    <string>T_se.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhe.bgr</key>
    <string>Z_he.bgr.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
  </dict>
</plist>
