<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>S</key>
    <string>S_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>x</key>
    <string>x.glif</string>
  </dict>
</plist>
